In [68]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
#df.to_csv('modified_dataset.csv')

In [69]:
raw_data = pd.read_csv("global_landslides.csv")

In [70]:
raw_data.head()

,id,date,time,country,nearest_places,hazard_type,landslide_type,trigger,storm_name,fatalities,...,population,countrycode,continentcode,key,version,tstamp,changeset_id,latitude,longitude,geolocation
0,1,01/02/2007,NaN,United Kingdom,"Whitehaven, Cumbria",landslide,Landslide,Rain,NaN,1.0,...,24803.0,GB,EU,sGaiIKdcW,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,54.549400,-3.587500,"(54.549399999999999, -3.5874999999999999)"
1,2,01/03/2007,NaN,Peru,"Alto Mesapata, in the Pasco province",landslide,Complex,Rain,NaN,NaN,...,0.0,PE,SA,S95OsumK4,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-10.383800,-75.426700,"(-10.383800000000001, -75.426699999999997)"
2,3,01/05/2007,NaN,Brazil,"Nova Friburgo, Rio de Janeiro",landslide,Landslide,Rain,NaN,7.0,...,153361.0,BR,SA,D5vlNdgB7,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-22.282346,-42.536362,"(-22.282346350000001, -42.536362050000001)"
3,4,01/05/2007,NaN,Brazil,"Sumidouro, Rio de Janeiro",landslide,Landslide,Rain,NaN,2.0,...,11555.0,BR,SA,h5J8IFdc4,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-22.045200,-42.673400,"(-22.045200000000001, -42.673400000000001)"
4,5,01/05/2007,NaN,Brazil,"Jundiai, Sao Paulo",landslide,Landslide,Rain,NaN,1.0,...,54415.0,BR,SA,s5Zb5FdB4,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-23.231100,-46.613600,"(-23.231100000000001, -46.613599999999998)"

In [71]:
new_data = raw_data[["fatalities", "landslide_size", "latitude", "longitude"]]

In [72]:
new_data = new_data.dropna(axis=0, how='any')

In [ ]:
data_small = new_data[["fa"]]

In [73]:
df = pd.DataFrame(new_data)

In [74]:
df = df.sample(100)

In [75]:
df.head()

      fatalities landslide_size  latitude  longitude
39          10.0         Medium   33.7033    73.0380
3318         0.0          Small   49.0022  -122.7576
3323         0.0          Small   41.5490  -124.0611
4922        13.0          Large   30.6945    79.0544
2538         0.0          Small   34.2266  -118.0306

In [76]:
df.shape

(100, 4)

In [77]:
#df.loc[df.landslide_size == 'medium', 'landslide_size'] = 'Medium'

In [78]:
#df.loc[df.landslide_size == 'small', 'landslide_size'] = 'Small'

In [79]:
import string
df.landslide_size = df.landslide_size.apply(string.capitalize)

In [80]:
print(df.landslide_size.value_counts())

Medium    70
Small     22
Large      8
Name: landslide_size, dtype: int64

In [81]:
df.to_csv('modified_dataset.csv')