In [36]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
#df.to_csv('modified_dataset.csv')

In [37]:
raw_data = pd.read_csv("global_landslides.csv")

In [38]:
raw_data.head()

,id,date,time,country,nearest_places,hazard_type,landslide_type,trigger,storm_name,fatalities,...,population,countrycode,continentcode,key,version,tstamp,changeset_id,latitude,longitude,geolocation
0,1,01/02/2007,NaN,United Kingdom,"Whitehaven, Cumbria",landslide,Landslide,Rain,NaN,1.0,...,24803.0,GB,EU,sGaiIKdcW,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,54.549400,-3.587500,"(54.549399999999999, -3.5874999999999999)"
1,2,01/03/2007,NaN,Peru,"Alto Mesapata, in the Pasco province",landslide,Complex,Rain,NaN,NaN,...,0.0,PE,SA,S95OsumK4,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-10.383800,-75.426700,"(-10.383800000000001, -75.426699999999997)"
2,3,01/05/2007,NaN,Brazil,"Nova Friburgo, Rio de Janeiro",landslide,Landslide,Rain,NaN,7.0,...,153361.0,BR,SA,D5vlNdgB7,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-22.282346,-42.536362,"(-22.282346350000001, -42.536362050000001)"
3,4,01/05/2007,NaN,Brazil,"Sumidouro, Rio de Janeiro",landslide,Landslide,Rain,NaN,2.0,...,11555.0,BR,SA,h5J8IFdc4,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-22.045200,-42.673400,"(-22.045200000000001, -42.673400000000001)"
4,5,01/05/2007,NaN,Brazil,"Jundiai, Sao Paulo",landslide,Landslide,Rain,NaN,1.0,...,54415.0,BR,SA,s5Zb5FdB4,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-23.231100,-46.613600,"(-23.231100000000001, -46.613599999999998)"

In [39]:
new_data = raw_data[["fatalities", "landslide_size", "latitude", "longitude"]]

In [40]:
new_data = new_data.dropna(axis=0, how='any')

In [41]:
df = pd.DataFrame(new_data)

In [42]:
df = df.sample(100)

In [43]:
df.head()

      fatalities landslide_size  latitude  longitude
8923         0.0         Medium   47.4085  -121.4068
6843         0.0          Small   40.4836   -79.9043
3412         0.0         Medium  -39.0336   177.4174
2725         0.0         Medium   50.4149    -4.6717
98           2.0         Medium   19.0298    72.9104

In [44]:
df.shape

(100, 4)

In [45]:
#df.loc[df.landslide_size == 'medium', 'landslide_size'] = 'Medium'

In [46]:
#df.loc[df.landslide_size == 'small', 'landslide_size'] = 'Small'

In [47]:
import string
df.landslide_size = df.landslide_size.apply(string.capitalize)

In [48]:
print(df.landslide_size.value_counts())

Medium     63
Small      25
Large      11
Unknown     1
Name: landslide_size, dtype: int64

In [49]:
data_dummies = pd.get_dummies(df)

In [50]:
data_dummies.head()

,fatalities,latitude,longitude,landslide_size_Large,landslide_size_Medium,landslide_size_Small,landslide_size_Unknown
8923,0.0,47.4085,-121.4068,0,1,0,0
6843,0.0,40.4836,-79.9043,0,0,1,0
3412,0.0,-39.0336,177.4174,0,1,0,0
2725,0.0,50.4149,-4.6717,0,1,0,0
98,2.0,19.0298,72.9104,0,1,0,0

In [51]:
data_dummies.to_csv('modified_dataset.csv')