In [94]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

new_data = pd.read_csv("modified_dataset.csv")

In [95]:
df = pd.DataFrame(new_data)

In [96]:
df = df[["fatalities", "landslide_size", "latitude", "longitude"]]

In [97]:
df = pd.get_dummies(df)

In [98]:
df.head()

,fatalities,latitude,longitude,landslide_size_Large,landslide_size_Medium,landslide_size_Small
0,10.0,33.7033,73.0380,0,1,0
1,0.0,49.0022,-122.7576,0,0,1
2,0.0,41.5490,-124.0611,0,0,1
3,13.0,30.6945,79.0544,1,0,0
4,0.0,34.2266,-118.0306,0,0,1

In [99]:
practice_dataset = df[["latitude", "longitude"]]
practice_dataset.shape

(100, 2)

In [100]:
practice_dataset.head()

   latitude  longitude
0   33.7033    73.0380
1   49.0022  -122.7576
2   41.5490  -124.0611
3   30.6945    79.0544
4   34.2266  -118.0306

In [101]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=5).fit(practice_dataset)
kmeans.cluster_centers_

array([[  39.91839171, -112.51914052],
       [  25.06989259,   82.35702963],
       [  -6.45669121,  -59.94776733],
       [  -4.10468333,  134.67504167],
       [  17.99423435,   25.45409223]])

In [102]:
cluster_array = kmeans.predict(practice_dataset)
cluster_array

array([1, 0, 0, 1, 0, 0, 1, 1, 2, 4, 3, 0, 0, 1, 3, 2, 2, 3, 1, 1, 4, 0, 1,
       2, 1, 4, 1, 1, 3, 2, 3, 0, 0, 2, 1, 1, 1, 3, 3, 0, 0, 2, 0, 2, 2, 2,
       1, 1, 0, 3, 1, 0, 1, 0, 0, 0, 3, 1, 4, 1, 1, 3, 0, 1, 2, 4, 3, 0, 0,
       0, 0, 0, 0, 0, 4, 0, 1, 1, 1, 4, 4, 0, 0, 4, 0, 0, 4, 2, 4, 4, 1, 4,
       2, 1, 2, 0, 0, 3, 2, 0], dtype=int32)

In [103]:
df.insert(loc=6, column='cluster_number', value=cluster_array)

In [104]:
df.head()

,fatalities,latitude,longitude,landslide_size_Large,landslide_size_Medium,landslide_size_Small,cluster_number
0,10.0,33.7033,73.0380,0,1,0,1
1,0.0,49.0022,-122.7576,0,0,1,0
2,0.0,41.5490,-124.0611,0,0,1,0
3,13.0,30.6945,79.0544,1,0,0,1
4,0.0,34.2266,-118.0306,0,0,1,0

In [109]:
groupby_cluster = df['fatalities'].groupby(df['cluster_number'])
groupby_cluster

In [111]:
groupby_cluster.sum()

cluster_number
0      1.0
1    106.0
2     20.0
3     10.0
4     42.0
Name: fatalities, dtype: float64