In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
%matplotlib inline

new_data = pd.read_csv("modified_dataset.csv")
# I modified the dataset to have an id, i need to put a command where it puts in a header or first title

In [2]:
new_data.head()

,id,fatalities,landslide_size,trigger,hazard_type,country,population,latitude,longitude
0,943,1,Medium,Unknown,landslide,India,40283,30.8950,77.0890
1,3594,0,Small,Downpour,landslide,China,0,29.1935,119.7975
2,3240,0,Medium,Rain,landslide,United States,1009,43.3197,-73.9295
3,2402,0,Medium,Downpour,landslide,Italy,887,40.6378,14.6074
4,5707,0,Medium,Downpour,landslide,United Kingdom,25500,51.2934,-0.1532